
<h1>Testing Page</h1>

<a href="api/weatherforecast/">Access Demo API here</a>
<br />
<a href="api/login/AllRoles">Get All Roles</a>
<br />
<a href="api/login/alluserids">Get All UserIDs</a>
<br />
<a href="apitest/main">Get All Users</a>
<br />
<a href="apitest/SignIn?uid=Admin&pwd=admin">Sign In with Correct ID and PW</a>
<br />
<a href="apitest/SignIn?uid=Admin&pwd=wrong">Sign In with Wrong ID and PW</a>
<br />



