@{ Layout = "~/Views/Shared/_LayoutNEW.cshtml"; }


@model List<GamificationQuest2>
<head>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script>function myFunction() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }</script>
    <style>
        .popup {
            position: relative;
            display: inline-block;
            cursor: pointer;
        }

            .popup .popuptext {
                visibility: hidden;
                width: 200px;
                background-color: #555;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 8px 0;
                position: absolute;
                z-index: 1;
                top: 125%;
                left: 50%;
                margin-left: -80px;
            }

                .popup .popuptext::after {
                    content: "";
                    position: absolute;
                    bottom: 97%;
                    left: 40%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: #555 transparent transparent transparent;
                }

            .popup .show {
                visibility: visible;
                -webkit-animation: fadeIn 1s;
                animation: fadeIn 1s;
            }
        body {
            background-attachment:fixed;
            background-image: url("/images/quest.png");
            background-repeat:no-repeat;
            background-size: 900px 700px;
            background-position: center;
        }

        
        

        .container {
            margin-top: 144px;
            margin-left: 280px;
        }

        h2 {
            margin-left: 50px;
        }

        input {
            margin-left: 145px;
        }
    </style>
</head>
<body>
        <div class="container" >
            <div class="form-group row">
                <div class="form-check form-check-inline">
                    <div class="col-sm-12">
                        <h2><b>Daily Quest</b></h2>
                    </div>
                    <div class="col-sm-12">
                        <div class="popup" onclick="myFunction()">
                            <i class="fas fa-info-circle" style="color:darkslateblue;"></i>
                            <span class="popuptext" id="myPopup">Hi, you will be rewarded 5 points for each quest done. If you completed all the quests randomly given to you, you can click 'Swap' to swap the quests.</span>
                        </div>

                    </div>
                </div>
            </div>



            <div class="form-group row">
                <div class="col-sm-12">
                    <div class="form-check form-check-inline">
                        <h4 >1. Eat together with family.</h4> <a href="~/Checkquest/uploadphoto"><img src="~/images/upload.png" width="35" height="30" /><br /></a>
                        
                    </div>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <div class="form-check form-check-inline">
                        <h4>2. Watch television with family.</h4> <a href="~/Checkquest/uploadphoto3"><img src="~/images/upload.png" width="35" height="30" /><br /></a>
                    </div>

                </div>

            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <div class="form-check form-check-inline">
                        <h4>3. Chat with family.</h4> <a href="~/Checkquest/uploadphoto4"><img src="~/images/upload.png" width="35" height="30" /><br /></a>
                    </div>

                </div>


            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <div class="form-check form-check-inline">
                        <h4>4. Play chess with family.</h4> <a href="~/Checkquest/uploadphoto4"><img src="~/images/upload.png" width="35" height="30" /><br /></a>
                    </div>

                </div>

            </div>



            <div class="form-group row">
                <div class="col-sm-12">
                    <a href="~/Gamification/DailyQuest"><input id ="btn" type="submit" value="Swap" class="btn btn-primary" /><br /></a>
                </div>
            </div>


        </div>
</body>