@{
    Layout = "~/Views/Shared/_LayoutNEW.cshtml";
}
<head>
    <style>
        .col-sm-12 {
            margin-top: 200px;
            margin-left: 250px;
        }
        p{
            font-size: 30px;
            font-family:Arial;
            color: darkblue;
            text-align:center;
        }
    </style>

</head>
<body >
    <div class="form-group row">

        <div class="col-sm-12">
            <div class="form-check form-check-inline">

                <a href="~/Gamification/checkquest"><img src="~/images/daily.png" width="210" height="210" /><br /><p>Daily Quest</p></a>

                <div class="offset-8">

                    <a href="~/Gamification/checkquest2"><img src="~/images/weekly.png" width="210" height="210" /><br /><p>Weekly Quest</p></a>
                </div>


            </div>


        </div>
    </div>

</body>