@{
    Layout = "~/Views/Shared/_LayoutNEW.cshtml";
}


@model Activity2
<h1>@Model.Act2Name</h1>
<img src="~/images/@Model.Act2Pic">

<dl class="dl-horizontal">
    <dt>Description : </dt>
    <dd>@Model.Act2Desc</dd>
    <dt>Detail : </dt>
    <dd>@Model.Act2Detail</dd>
</dl>

